<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangmayong.androidplugin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!--seize a seat activity-->
        <activity android:name="com.liangmayong.androidplugin.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--seize a seat service-->
        <service
            android:name="com.liangmayong.androidplugin.launcher.LauncherService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
